.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### YAML ###
src/test/resources/application.yml
src/main/resources/application-local.yml

### compose ###
docker/app/*.jar
docker/.env

### QueryDSL ###
**/src/main/generated
