name: Backend CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: Production
    steps:
      - name: 체크아웃
        uses: actions/checkout@v4

      - name: gradle 캐싱
        uses: gradle/actions/setup-gradle@v3

      - name: bootJar로 jar 파일 생성
        run: |
          ./gradlew bootJar
          mv build/libs/*.jar ${{ secrets.JAR_DIRECTORY }}
        working-directory: ./backend

      - name: 클린업
        if: always()
        run: rm -rf ../2024-code-zap/*

  deploy:
    needs: build
    runs-on: Production
    steps:
      - name: 배포 스크립트 실행
        run: |
          cd ${{ secrets.ZAP_DIRECTORY }}
          docker compose restart
